<div class="navbar">
    <div class="navbar_logo">
        <img src="assets/images/leaflight_logo.png" alt="LeafLight Logo" class="logo"/>
        <a routerLink="/" class="page_title">LeafLight</a>
    </div>
    <div class="navbar_menu">
      <ul>
        <a routerLink="/">Home</a>
        <a routerLink="/plant-library">Plant library</a>
        <a routerLink="/favourite">Favourite</a>
      </ul>
    </div>
    <div class="logout">
        <button>Logout </button><i class="fa-solid fa-right-from-bracket"></i>
    </div>
</div>
