.logo {
    width: 5em;
    height: auto;
    margin-left: 4em;
}

.page_title {
    font-size: 20px;
    margin-left: 1em;
    margin-top: 1.4em;
    font-weight: 700;
    position: absolute;
    color: #030303;	
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F7F7F7;
    height: 4.5em;
    font-family: "Roboto", sans-serif;
    padding: 0 2em;
    margin-top: -8em;
    position: fixed;
    width: 98%;
    z-index: 1000;
}

.navbar_menu {
    font-size: 18px;
    font-weight: 500;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.navbar_menu a {
    text-decoration: none;
    margin: 0 2em;
    color: #030303;	
}

.logout_button {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    border: none;
    background-color: transparent;
    font-weight: 500;
    display: flex;
    align-items: center;
    color: #030303;	
    margin-right: 4em;
    cursor: pointer;   
}

.logout_icon {
    width: 1em;
    height: auto;
    margin-left: 0.5em;
}
