<div class="login">
  <p>Welcome</p>
  <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
  <div class="input-container">
    <h1>Email</h1>
    <input type="text" [(ngModel)]="email">
    <h1>Password</h1>
    <input type="password" [(ngModel)]="password">
  </div>
  <button class="login_button" (click)="onLoginClick()">Login</button>
  <h2 (click)="onSignUpClick()">Don't have an account? <span style="color: blue; text-decoration: underline; cursor: pointer;">Sign up now</span></h2>

</div>
