<div class="plant-library">

<p class="title">Plant library</p>

<div class="search-container">
    <input type="text" placeholder="Search.." class="searchbar">
    <img src="assets/images/search.png" alt="search" class="search-icon">
</div>

<div class="all-boxes">
    <div class="plant-box"> 
        <img src="assets/images/monstera.png" alt="monstera" class="plant-image"/>
        <p class="plant-name">Monstera</p>
        <img src="assets/images/heart.png" alt="favourite" class="favourite"/>
    </div>
    
</div>
</div>